/**
 * style.css
 */

/*
Global
 */
:root {
  --blue: #4285F4;
  --green: #34A853;
  --red: #E94335;
}

html {
  box-sizing: border-box;
  font-size: 16px;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  padding: 30px;
  background-color: #EEE;
  font-size: 1.25rem;
  line-height: 1.4;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, sans-serif;
}

/*
Buttons
 */
.pure-button.button-success,
.pure-button.button-error,
.pure-button.button-warning,
.pure-button.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.pure-button.button-success {
  background: rgb(28, 184, 65);
}

.pure-button.button-error {
  background: rgb(202, 60, 60);
}

.pure-button.button-warning {
  background: rgb(223, 117, 20);
}

.pure-button.button-secondary {
  background: rgb(66, 184, 221);
}

/*
Styles
 */
